// _variables.scss
$mobile: 500px;
$tab: 800px;
$side_nav_width: 220px;
$side_nav_fontSize: 13px;
$side_sub_nav_fontSize: 13px;
$top_bar_title_fontSize: 30px;
$mobile-max: 500px;
$tab-min: 501px;
$tab-max: 900px;
$desktop-min: 901px;
